*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 20;
    background-color: whitesmoke
   
}

.intro{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.section{
    padding: 40px 25px 0px 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.img img{
    border-radius: 15px;
}
span{
    border: 1px solid rgb(201, 199, 199);
    padding: 20px;
    margin: 40px;
    margin-left: 100px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
