*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 20;
    background-color: whitesmoke
   
}

/* HEADER */

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: #1a2642;
    padding-right: 20px;
    padding: 10px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul a{
    position: relative;
    top: 20px;
    right: 20px;
    display: block;
    padding: 15px;
    color: #A3BCF9;
    text-decoration: none;
    font-size: 20px;
}
ul li a:hover {
    color: #f1ebeb;
}

#logo{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 60px;
    height: 60px;
}

/* End HEADER */

.intro{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.section{
    padding: 40px 25px 0px 25px;
    margin-left: 25px;
    margin-right: 25px;
    
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.img img{
    border-radius: 15px;
}
span{
    border: 1px solid rgb(201, 199, 199);
    padding: 20px;
    margin: 40px;
    margin-left: 100px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
p{
    margin: 10px;
}
h4{
    margin: 20px;
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #1a2642;
    color: rgb(220, 216, 224);

 }
 .footer a {
    text-decoration: none;
    color: rgb(220, 216, 224);
    padding: 15px;
 }
 .footer a:hover{
    color: #A3BCF9;
 }
/* End FOOTER */