*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 20px;
}


.intro{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}

/* BOOTSTRAP GRID */

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.col{
    flex: 1;
    
}
.imagine{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
#first{
    background-color: #b9cff7;
    padding-bottom: 20px;
}
#second{
    background-color: #f1ebeb;
    padding-bottom: 20px;
}
#third{
    background-color: #b9cff7;
    padding-bottom: 20px;
}

/* End BOOTSTRAP GRID */

h2 {
    font-size: 25px;
    line-height: 1.25;
    margin-bottom: 20px !important;
    font-weight: 600;


}

p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* FORM */
.form{

    line-height: 1.5;
    background-color: #f1ebeb;
    text-align: center;
}
form{
    margin-right: 30%;
    margin-left: 30%;
}
/* End FORM */



