*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 20;
    background-color: whitesmoke;
}
.intro{
    
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    padding-top: 40px;
}
.section{
    padding: 40px 25px 0px 35px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.img img{
    border-radius: 15px;
    max-width: 80%;
}
