:root{
    --bg-color: #1c2121;
    --bg-color2: #0082C6;
    --bg-color3: #f1ebeb;
    --color: #A3BCF9;
    --color2: #f1ebeb;
    --color3: rgb(220, 216, 224);
    --spacing-medium: 1rem;
    --mobile-logo-height: 45px;
}

* {
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    line-height: 1.05;
    margin-bottom: 60px;
}

h2 {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 40px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}
h4{
    font-weight: 600;
    font-size: 30px;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    
}

main {
    flex-grow: 1;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}


body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.container {
    max-width: 1200px;
    min-width: 220px;
    margin: auto;
}

nav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 2;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo-link {
    padding: 0;
}

nav img {
    width: auto;
    height: 60px;
}

nav .menu-icon {
    color: var(--bg-color2);
    display: none;
}

nav input[type="checkbox"] {
    display: none;
}

nav ul {
    display: flex;
}

nav li {
    position: relative;
}

nav a {
    color: var(--bg-color2);
    padding-left: 20px;
  
}

nav a:hover {
    color: var(--color);
}


@media (max-width: 768px) {
    nav img {
        height: var(--mobile-logo-height);
    }
    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    nav .arrow-down-icon {
        display: none;
    }

    nav .about-us:hover .submenu {
        display: none;
    }

    nav .menu-icon-container {
        position: relative;
    }

    
    nav input[type="checkbox"] {
        
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        margin: 0;
        cursor: pointer;
    }

    nav input[type="checkbox"]:checked ~ ul {
        display: block;
        width: 100%;
        top: calc(var(--mobile-logo-height) + 2 * var(--spacing-medium));
        left: 0;
        background-color: var(--bg-color);
    }
}
.section{
    margin-bottom: 20px;
 }
/* Footer */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
    color: var(--color2);

 }
 .footer a {
    text-decoration: none;
    color: var(--bg-color2);
    padding: 15px;
 }
 .footer a:hover{
    color:var(--color);
 }
 
 